{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid pt-5">
	<div class="text-center mb-4">
		<h2 class="section-title px-5"><span class="px-2">Change password</span></h2>
		{{errors}}
		{{massage}}
		<form action="{% url 'account:new_password' %}" method="post">
			{% csrf_token %} 
			<div class="form-group">
				<input type="password" class="form-control border-0 py-4" placeholder="Your old password" name= 'Old password'
					required="required"{% if password %} {{password}} {% endif %} />
			</div>
			
			<div class="form-group">
				<input type="password" class="form-control border-0 py-4" placeholder="Your new password" name= 'New password'
					required="required" {{form.new_password.errors}} />
			</div>
			
			<div>
				<button class="btn btn-primary btn-block border-0 py-3" type="submit">Save</button>
                
			</div>
		</form>
	</div>
	<div class="row px-xl-5 pb-3">
		<div class="register">
		
	</div>

	</div>
</div>


{% endblock %}